
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 126.4rem;
}.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .untitled-site-page-FrC {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse {
  box-sizing: border-box;
  padding: 0 0.0335rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE {
  margin-bottom: 3.821rem;
  width: 100%;
  height: 146.46rem;
  position: relative;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp {
  box-sizing: border-box;
  padding: 1.4rem 0rem 13.027rem 0rem;
  width: 126.333rem;
  height: 35rem;
  position: absolute;
  left: 0;
  top: 4.6rem;
  background-size: 100% 100%;
  background-image: url('../assets/documentoscertipng-bg.png');
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA {
  margin-bottom: 7.5165rem;
  box-sizing: border-box;
  padding: 0rem 6.166rem 0rem 6.167rem;
  width: 100%;
  height: 6rem;
  background-color: #13322b;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe {
  width: 100%;
  height: 100%;
  position: relative;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .siged-Xm6 {
  width: 6.4rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 1.5835rem;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG {
  box-sizing: border-box;
  padding: 1.983rem 0.607rem 1.517rem 32.416rem;
  width: 114rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #13322b;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-vRr {
  margin-right: 3.031rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-vRr .symbol-SQC {
  margin: 0.066rem 1.22rem 0rem 0rem;
  display: flex;
  font-size: 1.5875rem;
  font-weight: 900;
  line-height: 1.0078740157;
  color: #ffffff;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-vRr .inicio-JSQ {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-QkL {
  margin-right: 3.049rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-QkL .symbol-9T2 {
  margin: 0.066rem 0.82rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1;
  color: #ffffff;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-QkL .referencias-r6Y {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-nF6 {
  margin-right: 3.207rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-nF6 .symbol-LGc {
  margin: 0.066rem 1.02rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1;
  color: #ffffff;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-nF6 .sistema-interactivo-2QL {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-x36 {
  margin-right: 3.63rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-x36 .before-hWU {
  margin-bottom: 0.266rem;
  width: 1.6rem;
  height: 1.867rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-x36 .tableros-analticos-EWQ {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-xhJ {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-xhJ .before-Wip {
  margin-bottom: 0.266rem;
  width: 1.6rem;
  height: 1.867rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .nav-fBA .divcontainer-yhe .divsubenlaces-tEG .list-zo6 .item-link-xhJ .aviso-de-privacidad-3ye {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .divtextos-m8x {
  margin-left: 7.667rem;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .divtextos-m8x .sistema-de-informacin-y-gestin-educativa-6BE {
  margin-bottom: 1.257rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.0999999841;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .divtextos-m8x .validacin-de-documentos-acadmicos-electrnicos-npk {
  display: flex;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.0999999728;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .divsection-Ztp .divsection-Ztp-bg {
  width: 126.333rem;
  height: 35rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:31c0a357cc702f80fd2104e6d4d827f2019488dd');
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .before-zR2 {
  width: 3.5rem;
  height: 0.5rem;
  position: absolute;
  left: 6.167rem;
  top: 122.84rem;
  background-color: #b38e5d;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr {
  width: 115.5rem;
  height: 109.76rem;
  position: absolute;
  left: 6.167rem;
  top: 36.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc {
  box-sizing: border-box;
  padding-bottom: 3.6655rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-Aip {
  width: 114rem;
  height: 17.838rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-Aip .form-vT6 {
  box-sizing: border-box;
  padding: 3rem 3.45rem 3.305rem 3.766rem;
  width: 100%;
  height: 14.838rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #545454;
  background-color: #545454;
  border-radius: 1rem;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-Aip .form-vT6 .divcol-md-12-KVE {
  margin-bottom: 0.933rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-Aip .form-vT6 .divcol-md-12-KVE .input-rVA {
  margin-right: 2.684rem;
  box-sizing: border-box;
  padding: 1.4rem 1.666rem 1.4rem 1.667rem;
  width: 51.733rem;
  height: 100%;
  border: solid 0.1rem #cccccc;
  background-color: #e1e1e1;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-Aip .form-vT6 .divcol-md-12-KVE .input-rVA .divh2d-4e3e5f0d-aAG {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-Aip .form-vT6 .divcol-md-12-KVE .button-FGQ {
  margin-right: 2.367rem;
  width: 25rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.2rem 0 #2390b0;
  background-color: #5bc0de;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-Aip .form-vT6 .divcol-md-12-KVE .button-uLx {
  width: 25rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.2rem 0 #c77c11;
  background-color: #f0ad4e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-Aip .form-vT6 .ubica-el-folio-en-tu-certificado-BpG {
  margin-right: 0.836rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-ordered-list-Tmn {
  box-sizing: border-box;
  padding: 2.133rem 22.794rem 2.238rem 0rem;
  height: 6.971rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-ordered-list-Tmn .item-link-inicio-Ndr {
  margin-right: 1.044rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #393c3e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-ordered-list-Tmn .item-J1i {
  margin-right: 1.025rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-ordered-list-Tmn .item-J1i .symbol-ebN {
  margin: 0.4rem 0.468rem 0rem 0rem;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4289999962;
  color: #545454;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-ordered-list-Tmn .item-J1i .link-consultas-Mkg {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #393c3e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-ordered-list-Tmn .item-tkc {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-ordered-list-Tmn .item-tkc .symbol-qvk {
  margin: 0.4rem 0.468rem 0rem 0rem;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4289999962;
  color: #545454;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .auto-group-tnvy-2cc .section-ordered-list-Tmn .item-tkc .link-documentos-acadmicos-electrnicos-Mu6 {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4283332825;
  color: #393c3e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcol-md-12-png {
  margin: 0rem 0rem 7.716rem 1.5rem;
  width: 114rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcol-md-12-png .detalle-del-documento-kgL {
  margin-bottom: 1.2735rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.0999999841;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcol-md-12-png .auto-group-6atl-HgG {
  box-sizing: border-box;
  padding-top: 0.067rem;
  width: 100%;
  height: 0.567rem;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcol-md-12-png .auto-group-6atl-HgG .before-RnU {
  width: 3.5rem;
  height: 100%;
  background-color: #b38e5d;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr {
  margin: 0rem 0rem 3.571rem 5.5rem;
  width: 91.999rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa {
  margin: 0rem 7.101rem 2.467rem 0rem;
  width: 84.898rem;
  height: 17.892rem;
  position: relative;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yxQ {
  width: 84.898rem;
  height: 17.7835rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yxQ .symbol-7oi {
  margin: 3.783rem 16.498rem 0rem 0rem;
  display: flex;
  font-size: 14rem;
  font-weight: 900;
  line-height: 1;
  color: #545454;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yxQ .divcontainer-dGG {
  height: 7.669rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yxQ .divcontainer-dGG .divcolnombre-Zfi {
  margin-right: 4.3985rem;
  width: 24.1015rem;
  height: 100%;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yxQ .divcontainer-dGG .divcolnombre-Zfi .nombre-i2p {
  margin-bottom: 1.263rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yxQ .divcontainer-dGG .divcolnombre-Zfi .ph2d-96ae8a77-DkG {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yxQ .divcontainer-dGG .divcolnombre-Zfi .ph2d-96ae8a77-DkG .luis-enrique-Zp8 {
  margin-bottom: 0.006rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yxQ .divcontainer-dGG .divcolnombre-Zfi .ph2d-96ae8a77-DkG .guerrero-zahuantitla-g84 {
  margin-left: 0.1015rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yxQ .divcontainer-dGG .divcolestudios-bF2 {
  margin-bottom: 0.006rem;
  height: calc(100% - 0.006rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yxQ .divcontainer-dGG .divcolestudios-bF2 .carrera--wJt {
  margin-bottom: 1.263rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yxQ .divcontainer-dGG .divcolestudios-bF2 .bachillerato-con-formacin-bsica-para-el-trabajo-Gc4 {
  max-width: 31.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yWU {
  width: 53.15rem;
  height: 7.663rem;
  position: absolute;
  left: 25.148rem;
  top: 10.229rem;
  display: flex;
  align-items: flex-start;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yWU .divcoldocumento-uf2 {
  margin-right: 10.75rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yWU .divcoldocumento-uf2 .tipo-de-documento-TAk {
  margin: 0rem 0rem 1.263rem 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yWU .divcoldocumento-uf2 .terminacin-NHi {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yWU .divcolfolio-hqn {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yWU .divcolfolio-hqn .folio-rya {
  margin-bottom: 1.263rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .auto-group-c6lt-sPa .divrow-yWU .divcolfolio-hqn .a8365c-73f9-4e5d-bec2-09c4c978c67-PTi {
  max-width: 23.8rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  text-transform: lowercase;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-67E {
  margin: 0rem 17.599rem 1.25rem 25.25rem;
  width: calc(100% - 42.849rem);
  height: 7.662rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-67E .divcolautoridad-p3E {
  margin-right: 4.65rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-67E .divcolautoridad-p3E .autoridad-emisora-Act {
  margin-bottom: 1.262rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-67E .divcolautoridad-p3E .subsecretara-de-educacin-obligatoria-tYt {
  max-width: 24.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-67E .divcolfecha-cDz {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-67E .divcolfecha-cDz .fecha-registro-siged-y4Y {
  margin-bottom: 1.262rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-67E .divcolfecha-cDz .item-09-02-2023-09-11-39-6ex {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-cdJ {
  margin-left: 23.75rem;
  width: calc(100% - 23.75rem);
  height: 12.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-cdJ .divcolpromedio-ZYY {
  margin-right: 9.749rem;
  box-sizing: border-box;
  padding: 3.417rem 5.208rem 1.421rem 5.242rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #d6e9c6;
  background-color: #dff0d8;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-cdJ .divcolpromedio-ZYY .promedio--HDe {
  margin: 0rem 0rem 1.262rem 0.118rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #3c763d;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-cdJ .divcolpromedio-ZYY .item-75-PnU {
  margin-right: 0.0015rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #3c763d;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-cdJ .divcolpromedio-ZYY .siete-punto-cinco-WcC {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #3c763d;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-cdJ .divcolestatus-c9S {
  box-sizing: border-box;
  padding: 3.417rem 3.515rem 3.854rem 3.835rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #bce8f1;
  background-color: #d9edf7;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-cdJ .divcolestatus-c9S .estatus-del-documento-LbE {
  margin-bottom: 1.229rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.0999999576;
  color: #31708f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .divcontainer-kZr .divrow-cdJ .divcolestatus-c9S .registrado-TQx {
  margin-right: 0.282rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.0999999576;
  color: #31708f;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .section-jtG {
  box-sizing: border-box;
  padding-top: 3.587rem;
  width: 114rem;
  height: 23.687rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .section-jtG .divh2d-b8f3e327-5hE {
  width: 112.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .section-jtG .divh2d-b8f3e327-5hE .la-informacin-de-los-certificados-que-se-muestran-en-este-portal-son-el-resultado-de-la-integracin-de-informacin-que-envan-las-autoridades-educativas-de-los-estados-y-la-ciudad-de-mxico-en-caso-de-que-la-informacin-presentada-no-coincida-con-tus-resultados-obtenidos-en-el-ciclo-escolar-o-no-est-disponible-por-favor-ponte-en-contacto-con-la-autoridad-de-tu-centro-escolar-RWC {
  max-width: 112.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .section-jtG .divh2d-b8f3e327-5hE .auto-group-bket-P5e {
  box-sizing: border-box;
  padding-top: 1.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .section-jtG .divh2d-b8f3e327-5hE .auto-group-bket-P5e .la-informacin-presentada-es-de-carcter-informativa-y-para-verificar-la-validez-del-documento-impreso-es-una-representacin-de-la-informacin-contenida-en-el-certificado-documento-impreso-vrG {
  margin-bottom: 1.25rem;
  max-width: 112rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .main-6yr .section-fPz .section-jtG .divh2d-b8f3e327-5hE .auto-group-bket-P5e .el-documento-oficial-es-el-que-la-institucin-educativa-entrega-a-los-padres-o-tutores-de-los-educandos-en-sus-centros-escolares-ZeL {
  max-width: 104rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2222222222;
  color: #404041;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA {
  width: 126.333rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0c231e;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .divcontainer-Ae8 {
  width: 114rem;
  height: 6rem;
  position: absolute;
  left: 6.167rem;
  top: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .divcontainer-Ae8 .divnavbar-header-VwJ {
  width: 9.851rem;
  height: 2.9rem;
  position: absolute;
  left: 0;
  top: 1.5rem;
  object-fit: contain;
  vertical-align: top;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .divcontainer-Ae8 .divnavbarmaincollapse-dnc {
  box-sizing: border-box;
  padding: 1.983rem 0rem 1.517rem 91.996rem;
  width: 114rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0c231e;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .divcontainer-Ae8 .divnavbarmaincollapse-dnc .list-MTi {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .divcontainer-Ae8 .divnavbarmaincollapse-dnc .list-MTi .trmites-uVE {
  margin-right: 3.063rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .divcontainer-Ae8 .divnavbarmaincollapse-dnc .list-MTi .gobierno-qdn {
  margin-right: 3.041rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .divcontainer-Ae8 .divnavbarmaincollapse-dnc .list-MTi .item-link-yEC {
  margin-bottom: 0.266rem;
  width: 1.6rem;
  height: 1.667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .nav-hR6 {
  box-sizing: border-box;
  padding: 0rem 4.666rem 0rem 2.52rem;
  width: 126.333rem;
  height: 5.5rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #0c231e;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .nav-hR6 .symbol-Q4c {
  margin: 0.566rem 1.347rem 0rem 0rem;
  text-align: right;
  display: flex;
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 1;
  color: #f3f0f3;
  font-family: Font Awesome 5 Free, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .nav-hR6 .divnavbarmaincollapse-uXA {
  box-sizing: border-box;
  padding-left: 5.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #0c231e;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .nav-hR6 .divnavbarmaincollapse-uXA .logoheadersvg-Dnk {
  margin: 0.526rem 21.895rem 0rem 0rem;
  width: 13.679rem;
  height: 4.026rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .nav-hR6 .divnavbarmaincollapse-uXA .list-k1z {
  margin-bottom: 0.929rem;
  height: 4.571rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .nav-hR6 .divnavbarmaincollapse-uXA .list-k1z .auto-group-3qwk-ggL {
  box-sizing: border-box;
  padding: 1.983rem 1.541rem 0.088rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .nav-hR6 .divnavbarmaincollapse-uXA .list-k1z .auto-group-3qwk-ggL .registro-para-vacunacin-cK6 {
  margin-right: 3.255rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .nav-hR6 .divnavbarmaincollapse-uXA .list-k1z .auto-group-3qwk-ggL .informacion-sobre-covid-19-j8p {
  margin-right: 3.167rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .nav-hR6 .divnavbarmaincollapse-uXA .list-k1z .auto-group-3qwk-ggL .trmites-rUL {
  margin-right: 3.063rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .nav-hR6 .divnavbarmaincollapse-uXA .list-k1z .auto-group-3qwk-ggL .gobierno-NxU {
  display: flex;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5625;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .nav-hR6 .divnavbarmaincollapse-uXA .list-k1z .button-Won {
  box-sizing: border-box;
  padding: 1.594rem 2.5rem 1.377rem 2.5rem;
  height: 100%;
  background-color: #0c231e;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .auto-group-gzw4-FdE .navigation-pqA .nav-hR6 .divnavbarmaincollapse-uXA .list-k1z .button-Won .lupapng-r6x {
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/lupapng.png');
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn {
  box-sizing: border-box;
  padding-top: 3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #13322b;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe {
  margin: 0rem 7.216rem 7.012rem 6.167rem;
  width: calc(100% - 13.383rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-BoS {
  margin-right: 5.625rem;
  width: 23.625rem;
  height: 6.954rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-8Ct {
  margin: 1.217rem 12.95rem 0rem 0rem;
  width: 16.3rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-8Ct .enlaces-rua {
  margin-bottom: 2.1125rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.0999999576;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-8Ct .list-oZv {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-8Ct .list-oZv .auto-group-jh4q-AfN {
  box-sizing: border-box;
  padding-bottom: 0.313rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-8Ct .list-oZv .auto-group-jh4q-AfN .link-participa-WUL {
  margin-bottom: 0.313rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-8Ct .list-oZv .auto-group-jh4q-AfN .link-publicaciones-oficiales-3DN {
  margin-bottom: 0.312rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-8Ct .list-oZv .auto-group-jh4q-AfN .link-marco-jurdico-Mzk {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-8Ct .list-oZv .link-VbA {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-8Ct .list-oZv .link-VbA .plataforma-nacional-de-4PN {
  margin-bottom: 0.112rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-8Ct .list-oZv .link-VbA .transparencia-z28 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-8Ct .list-oZv .auto-group-pd2k-iyi {
  box-sizing: border-box;
  padding-top: 0.313rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-8Ct .list-oZv .auto-group-pd2k-iyi .link-alerta-53a {
  margin-bottom: 0.312rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-8Ct .list-oZv .auto-group-pd2k-iyi .link-denuncia-Cdz {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ {
  margin: 1.217rem 7.05rem 0rem 0rem;
  width: 22.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ .auto-group-fzsp-ryS {
  box-sizing: border-box;
  padding-bottom: 1.606rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ .auto-group-fzsp-ryS .qu-es-gobmx-DJC {
  margin-bottom: 1.9155rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.0999999576;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ .auto-group-fzsp-ryS .es-el-portal-nico-de-trmites-informacin-y-participacin-ciudadana-leer-ms-Ltc {
  max-width: 20.5rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3600000654;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ .list-qaU {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ .list-qaU .auto-group-opgk-1E4 {
  box-sizing: border-box;
  padding-bottom: 0.313rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ .list-qaU .auto-group-opgk-1E4 .link-portal-de-datos-abiertos-ZFa {
  margin-bottom: 0.313rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ .list-qaU .auto-group-opgk-1E4 .link-declaracin-de-accesibilidad-V9E {
  margin-bottom: 0.312rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ .list-qaU .auto-group-opgk-1E4 .link-aviso-de-privacidad-integral-Q1J {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ .list-qaU .link-aviso-de-privacidad-simplificado-L9r {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ .list-qaU .auto-group-jdit-fC8 {
  box-sizing: border-box;
  padding-top: 0.312rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ .list-qaU .auto-group-jdit-fC8 .link-trminos-y-condiciones-brU {
  margin-bottom: 0.313rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ .list-qaU .auto-group-jdit-fC8 .link-poltica-de-seguridad-LJG {
  margin-bottom: 0.312rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-LEQ .list-qaU .auto-group-jdit-fC8 .link-mapa-de-sitio-Tdn {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4142856598;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-zNp {
  margin-top: 1.5505rem;
  width: 25.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-zNp .link-denuncia-contra-servidores-pblicos-LSg {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.0999999728;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-zNp .auto-group-rkfs-fE4 {
  box-sizing: border-box;
  padding-top: 2.0455rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-zNp .auto-group-rkfs-fE4 .sguenos-en-Czg {
  margin-bottom: 2.013rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.0999999576;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-zNp .auto-group-rkfs-fE4 .list-YHr {
  margin: 0rem 19.3rem 0rem 0.7rem;
  width: calc(100% - 20rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-zNp .auto-group-rkfs-fE4 .list-YHr .item-link-facebook-de-presidencia-5Hn {
  margin-right: 1.4rem;
  width: 1.4rem;
  height: 2rem;
  position: relative;
  background-size: 1178.571% 100%;
  background-position: 0 0;
  background-image: url('../assets/item-link-facebook-de-presidencia.png');
  border-radius: 0.85rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divrow-TMe .divcol-sm-3-zNp .auto-group-rkfs-fE4 .list-YHr .item-link-twitter-de-presidencia-92k {
  width: 2.4rem;
  height: 2rem;
  position: relative;
  background-size: 687.5% 100%;
  background-position: -3.4rem 0;
  background-image: url('../assets/item-link-twitter-de-presidencia.png');
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.sigedsepgobmx-by-htmltodesign-free-version-06-12-2023-17-05-49-gmt-6-VTi .auto-group-e13r-Lse .footer-7Hn .divcontainer-fluid-RW4 {
  width: 126.333rem;
  height: 5.142rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
